{% extends 'tweets/base.html' %}

{% block head_title %}
Home
{% endblock head_title %}


{% block content %}

<h1>Welcome to TweetMe2</h1>

<a href={% url 'tweets:tweet-list-view' %}>View all tweets JsonRespnse</a>

<div id="tweets">
    loading....
</div>

<script>
    // for document
    const tweetsElement = document.getElementById("tweets")

    // tweetsElement.innerHTML = 'Loading.....'

    // // appending elements into <div id="tweets">
    // // test code
    // var el1 = "<h1> hello 1 </h1>"
    // var el2 = "<h1> hello2 </h1>"
    // var el3 = "<h1> hello 3 </h1>"
    // tweetsElement.innerHTML = el1 + el2 + el3;


    //for json response
    const xhr = new XMLHttpRequest();
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)

    }

    function likeBtn(tweet) {
        var tweet_id = tweet.id;
        var currentLikes = tweet.likes

        return "<button class = 'btn btn-outline-primary' " +
            "onClick=handleDidLike(" + tweet_id + "," + currentLikes + ")>" +
            currentLikes + " Likes </button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet =
            "<div class='mb-4'><h3>" +
            tweet.id + "</h3>" +
            "<p>" + tweet.content + "</p>" +
            likeBtn(tweet) +
            "</div>";
        return formattedTweet;
    }

    xhr.responseType = responseType;
    xhr.open(method, url)
    xhr.onload = function () {
        console.log(xhr.response)
        const serverResponse = xhr.response

        // .response is from json (tweets_list)
        var listedItems = serverResponse.response
        console.log(listedItems)

        var finalTweetStr = ''
        for (let i = 0; i < listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem;
        }
        tweetsElement.innerHTML = finalTweetStr;
    };
    xhr.send()
</script>

{% endblock content %}