{% extends 'base.html' %}

{% block head_title %}
Home
{% endblock head_title %}


{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Welcome to TweetMe2</h1>
    </div>
</div>


<div class="row text-center">
    <div class="col">
        <a href={% url 'tweets:tweet-list-view' %}>
            View all tweets JsonRespnse
        </a>
    </div>
</div>


<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form id="tweet-create-form" action={% url 'tweets:tweet-create-view' %} class="form" method='POST'>
            {% csrf_token %}
            <!-- any other value other than '/' would be unsafe as seetings.ALLOWED_HOSTS = localhost -->
            <input type="hidden" value='/' name="next" />
            <textarea name="content" placeholder="Your tweet...." cols="10" rows="2"
                class="form-control mb-3"></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>


<div class="row" id="tweets">
    loading....
</div>

<script>
    // converting form with javascript sending data through js
    function handleTweetCreateFormDidSubmit() {
        event.preventDefault(); //prevents submit button to submit
        const myForm = event.target;
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest();
        xhr.open(method, url)
        xhr.onload = function () {
            const serverResponse = xhr.response
            console.log(serverResponse)

            // reload the tweets after the form is submitted
            // this is not manual reloading. 
            // the redirect url shows error is url is incorrect
            // but the form get submitted anyway
            const tweetsEl = document.getElementById("tweets")
            loadTweets(tweetsEl);


        }
        xhr.send(myFormData)

        // console.log(url, method)

        // for (var myItem of myFormData.entries()) {
        //     console.log(myItem)
        // }
        // console.log(event)
    }

    const tweetsCreateFormEl = document.getElementById("tweet-create-form")

    tweetsCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)


    // for document
    const tweetsEl = document.getElementById("tweets")

    // better loading tweets
    const loadTweets = function (tweetsElement) {
        //for json response
        const xhr = new XMLHttpRequest();
        const method = 'GET'
        const url = '/tweets'
        const responseType = 'json'

        xhr.responseType = responseType;
        xhr.open(method, url)
        xhr.onload = function () {
            console.log(xhr.response)
            const serverResponse = xhr.response

            // .response is from json (tweets_list)
            var listedItems = serverResponse.response
            console.log(listedItems)

            var finalTweetStr = ''
            for (let i = 0; i < listedItems.length; i++) {
                var tweetObj = listedItems[i]
                var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem;
            }
            tweetsElement.innerHTML = finalTweetStr;
        };
        xhr.send()

    }

    loadTweets(tweetsEl);


    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)

    }

    function likeBtn(tweet) {
        var tweet_id = tweet.id;
        var currentLikes = tweet.likes

        return "<button class = 'btn btn-outline-primary' " +
            "onClick=handleDidLike(" + tweet_id + "," + currentLikes + ")>" +
            currentLikes + " Likes </button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet =
            "<div class='col-12 col-md-10 mx-auto mb-4 border-bottom border-info py-3'><h3>" +
            tweet.id + "</h3>" +
            "<p>" + tweet.content + "</p>" +
            likeBtn(tweet) +
            "</div>";
        return formattedTweet;
    }
</script>

{% endblock content %}